<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "layouts/rails_admin/head" %>
  </head>
  <body class="rails_admin min-vh-100">

    <!-- TO-DO: Review later -->
    <div data-i18n-options="<%= I18n.t("admin.js").to_json %>" id="admin-js"></div>
    <div class="badge bg-warning" id="loading" style="display:none; position:fixed; right:20px; bottom:20px; z-index:100000">
      <%= t('admin.loading') %>
    </div>

    <div class="row row-application-layout g-0 pb-4 pb-md-5">
      <div class="col-auto d-none d-xl-flex">
        <div class="container-fluid sidebar-wrapper pe-0 h-100">
          <%= render "layouts/rails_admin/sidebar_navigation" %>
        </div>
      </div>
      <div class="col col-content">
        <div class="container-fluid py-4 py-md-6 py-lg-7">
          <%= render template: 'layouts/rails_admin/content' %>
        </div>
      </div>
    </div>
  </body>
</html>
