<%= render partial: "layouts/rails_admin/header" %>
<% flash && flash.each do |key, value| %>
  <div class="<%= flash_alert_class(key) %> alert alert-dismissible mb-5 mb-md-6">
    <%= value %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<ul class="nav nav-tabs mb-5 mb-md-6">
  <%= menu_for((@abstract_model ? (@object.try(:persisted?) ? :member : :collection) : :root), @abstract_model, @object) %>
  <%= content_for :contextual_tabs %>
</ul>
<%= yield %>
