<section class="bg-white p-5 p-md-7 p-lg-9 mb-5 mb-md-6 shadow rounded-3">
  <p class="fw-semibold mb-0"><%= t("admin.form.are_you_sure_you_want_to_delete_the_object", model_name: @abstract_model.pretty_name.downcase) %> <q><strong><%= @model_config.with(object: @object).object_label %></strong></q><%= t("admin.form.all_of_the_following_related_items_will_be_deleted") %></p>
  <ul class="ps-0 mb-4 mb-md-5">
    <%= render partial: "delete_notice", object: @object %>
  </ul>
  <%= form_for(@object, url: delete_path(model_name: @abstract_model.to_param, id: @object.id), html: {method: "delete"}) do %>
    <input name="return_to" type="<%= :hidden %>" value="<%= (params[:return_to].presence || request.referer) %>" />
    <div class="form-actions">
      <button class="btn btn-danger" data-disable-with="<%= t("admin.form.confirmation") %>" type="submit">
        <i class="fas fa-check"></i>
        <%= t("admin.form.confirmation") %>
      </button>
      <button class="btn btn-white ms-3" data-disable-with="<%= t("admin.form.cancel") %>" name="_continue" type="submit">
        <i class="fas fa-times"></i>
        <%= t("admin.form.cancel") %>
      </button>
    </div>
  <% end %>
</section>
