<ul class="sidebar list-unstyled mb-0">
  <% actions(:root).select(&:show_in_navigation).each do |action| %>
    <li class="nav-item <%= action.action_name %>_root_link">
      <%= link_to "<i class='fas fa-fw fa-sm fa-pie-chart'></i>#{wording_for(:menu, action)}".html_safe, { action: action.action_name, controller: "rails_admin/main" }, {class: ["nav-link #{"active" if current_page?("/")}"]}.merge(action.turbo? ? {} : {data: {turbo: "false"}}) %>
    </li>
  <% end %>
  <%= main_navigation %>
  <%= root_navigation %>
  <%= static_navigation %>
</ul>
